.editor {
	width: 280px;
}

.editor div{
	display: flex;
	justify-content: space-between;
	margin: 5px;
	position: relative;
}

.editor_buttons button{
	cursor: pointer;
}

.editor span{
	position: absolute;
    right: -140px;
    color: red;
}